<div >
    <div ng-include=" './compoent/strip.html'"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12">

                    <h2 id="con-1">联系我</h2>
                    <p id="con-2">I delightfully expect to collaborate with you(注明来自个人网站，谢谢~)</p>
                    <button id="con-left"class="button button-clear button-energized" data-toggle="tooltip" data-placement="bottom" title="回到作品区"
                            ng-click="goZuo()"><span class="icon ion-arrow-left-a"></span></button>
                    <button id="con-right" class="button button-clear button-energized" data-toggle="tooltip" data-placement="bottom" title="回到主页"
                            ng-click="goTo()"><span class="icon ion-arrow-right-a"></span></button>

                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">手机号</div>
                        <div class="panel-body">
                           13884997216
                        </div>
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">Github</div>
                        <div class="panel-body">
                           https://github.com/hight1/
                        </div>
                    </div>


                </div>
                <div class="col-md-4">
                    <div class="panel panel-warning">
                        <div class="panel-heading">微信</div>
                        <div class="panel-body">
                           
                        </div>
                    </div>


                </div>

            </div>

        </div>
</div>
